* {
	padding: 0px;margin: 0px;box-sizing: border-box;
}
body{

	font-family: 'Open Sans';
	font-size: 16px;
	padding:0 30px; 
}

header,
section,
main,
footer{
	float: left;width: 100%;
}

.center-wraper{
	max-width: 1177px;
	float: none;
	margin: auto;
	width: 95%;
}
h1{
	font-size: 40px;

}

h2{
	font-size: 32px
}
h3{
	font-size:24px
}
header{
	position: fixed;
	left: 0;
	top: 0;	
	z-index: 99;
	padding: 33px 0;

}
header .logo img{
	    max-width: 76px;
}
header .center-wraper{
	display: flex;
	justify-content: space-between;
}
header nav ul li{
	display: inline-block;
}
header nav ul li a{
  color: #FFFFFF;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  padding: 20px 30px;
  display: block;
  text-decoration: none;
  font-weight:400; 

  }

.banner{
	background-image: url(../images/banner.png);
	position: relative;
	padding: 250px 0 350px  0;
	background-position:center center 
}
.banner::before{
  content:'';
  background-color: rgba(4,18,50,0.9);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top:0;

}
.banner .center-wraper{
	position: relative;
	color: #fff;
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.banner .years-of-experience{
	max-width: 1121px;
	display: flex;
	padding-top: 30px; 
}
.banner h1,
.banner h2,
.banner h3,
.banner strong{
		font-weight:400; 
		padding-bottom: 20px;


}
.banner h2{
  line-height: 24px;

}
.banner .years-of-experience h2{
    color: #FF3366;
    border-right: 6px solid #FF3366;
    padding: 0 40px 0 0px;
    margin-right: 40px;
    line-height: 1.3;
}
.banner .years-of-experience h3,
.banner .years-of-experience h2,
.banner .years-of-experience strong{
	    padding-bottom:0px;

}
.banner .years-of-experience h3{
	max-width: 669px;
}
.banner .years-of-experience h2 strong{
	font-size: 40px;
}

.zoomim{
	max-width:230px;
    position: absolute;
    top:150%;
    right: 0;
}
.designed-solutions {
  color: #FFFFF0;
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  top: 247%;
  width: 100%;
}

.designed-solutions p{
	display: inline-block;
    position: relative;
    bottom: -11px;
    background: #091431;
    padding: 0 13px 0 0;
}
.designed-solutions hr{
    border: 0.6px solid #fff;
}
.clients{
  background-color: rgba(4,18,50,1);
}
.clients ul{
	display: flex;
    justify-content:space-around;
    align-items: center;
}
.clients ul li{
  display: inline-block;
}
.clients ul li a img{   
	    opacity: 0.6;
}
.qoute{
	background-color: #F6FDFF;
	background-image: url(../images/testimonial.png); 
	text-align: center;
	padding: 100px 96px;
	text-align: center;
    padding: 100px 96px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.qoute p{
    color: #14213F;
    font-family: "Playfair Display";
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 20px;
}
.qoute .author{
	color: #BDBDBD;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center

}
.projects {
  background-color: #27353A;
  text-align: center;
  padding: 60px 0;
  overflow: hidden;
}
.projects h2{
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 75px;

}


.projects .slick-dots {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.projects .slick-dots li {
  margin: 0 0.25rem;
}
.projects .slick-dots button {
  display: block;
  height: 20px;
  width: 20px
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: rgba(0,163,225,0.5);
  text-indent: -9999px;
}
.projects .slick-dots li.slick-active button {
  background-color: #00A3E1;
}

.projects p{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
}
.projects hr{
  height: 6px;
  width: 100px;
  background-color: #00A3E1;
  display: inline-block;
  border: none;
  margin: 40px 0;
}
.projects-slider{
	text-align: left;
	color:#fff; 
}
.projects-slider-wrp{
	display: flex;
	justify-content: space-between;
}
.slider-txt{
	max-width: 588px;
}
.slider-txt p,
.slider-txt{
	text-align: left;
  font-weight: 300;
}

 .projects-list .slick-list{
 	overflow: inherit;
}
.slider-txt h3{
  color: #FFFFFF;
  font-size: 24px;
  line-height: 22px;
  font-weight: 300;

  }
 .slider-txt h3 strong{ 
 	font-size: 40px;
 	font-weight:500; 
 }
 .slider-txt .midll{
 	color: #FFFFFF;
  font-size: 24px;
  line-height: 33px;
      font-weight: 400;
    padding: 30px 0 40px 0;
 }
 .learn-more {
    max-width: 244px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    display: block;
    border: 2px solid;
    padding: 9px 24px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 70px;
}
.the-globe-mail-r  .projects-slider-wrp{
  flex-direction: row-reverse;
}


.the-globe-mail-r img{
    max-width: 263px;

}
.vTrust img{
  max-width: 500px;
  position: relative;
  right: -55px;

}
.the-globe-mail-r .slider-txt{
  max-width: 743px;
  position: relative;
  left: -129px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ShopEase img{
    max-width: 263px;

}
.ShopEase .slider-txt{
  max-width: 606px;
}
.ShopEase  .projects-slider-wrp{
  justify-content:space-around; 
}
.hiclipart.ShopEase img{
  max-width: 363px;
}

/*testimonial section start*/
.testimonial{
  background-color: #fff;
  padding-bottom: 100px;

}
.testimonial h2{
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  padding-top: 80px;
  color: #14213F;
  line-height: 1px;
}
 .testimonial hr{
  height: 6px;
  width: 100px;
  background-color: #FF3366;
  display: inline-block;
  border: none;
  margin: 60px 540px;
  }
  .testimonial .box-1{
  box-sizing: border-box;
  height: 343px;
  width: 466px;
  border: 2px solid #E0E0E0;
  border-radius: 8px;
  display: inline-block;
  margin-left: 80px;
  }
  .box-1 img{
    height: 96px;
    width: 96px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    position: relative;
    left: 176px;
    top: -37px;
}
  .testimonial .box-2{
  box-sizing: border-box;
  height: 343px;
  width: 466px;
  border: 2px solid #E0E0E0;
  border-radius: 8px;
  display: inline-block;
 float: right;
 margin-right: 80px;


  }
  .box-2 img{
    height: 96px;
    width: 96px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    position: relative;
    top: -34px;
    left: 187px;
}
  
 .box p{
  
 } 
 .box-1 .author{
    

 }
 /*contect us section start*/
 .contact-page{
  background-color: #F6FDFF;
 }
.contact-page h2{
  text-align: center;
 padding-top: 80px;
padding-bottom: 50px}
.contact-form #fname[type=text]{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact-form #lname[type=text]{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact-form .email[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 555px;
  border: none;
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  background-color: #45a049;
}





                /*vTrust page css start*/


.vtrust{
  background-color: #27353A;
}
.vtrust h2{
  padding: 231px 0px 12px 0;
  color: #FFFFFF;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
}
.tags ul{
  text-align: center;
}
.tags ul li{
  display: inline-block;
  border-right: 1px solid #9E9E9E;
}
.tags ul li:last-child{
  border-right: hidden;
}
.tags ul li a{
  color: #FFFFFF;
  font-size: 16px;
  padding: 1px 10px;
  display: block;
  text-decoration: none;
  font-weight:400;
  opacity: 80%;
  line-height: 16px; 
}
.tags img{
  padding-top: 73px;
  display: block;
margin-left: auto;
margin-right: auto;
}

.tags h3{
  padding: 80px 0px 12px 0;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}
.tags hr{
  height: 6px;
  width: 100px;
  background-color: #FFFFFF;
  display: inline-block;
  border: none;
  margin: 40px 540px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  }
.tags p{
   color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
  padding: 20px 98px 187px 100px;  
}

          /*group section strat */

.group {
  background-color: #FAFAFA;
  padding-bottom: 131px;
}
.sub-group h2{
  color: #14213F;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  font-weight: 400;
    padding: 75px 0 0 0;
}

.sub-group hr{
  height: 6px;
  width: 100px;
  background-color: #14213F;
  display: inline-block;
  border: none;
  margin: 40px 540px 55px;
  }

.sub-group p{  
  color: #041232;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
}
/*screnshort...................................*/
.sub-group img{
  max-width: 670px;
  max-height: 440px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sub-group p strong{
  color: #616161;
  font-size: 10px;
  line-height: 14px;
  margin-left: 240px;
}
/*user parsonas................................ */
.sub-group h3{
  color: #14213F;
  font-size: 32px;
  line-height: 43px;
  font-weight: 400;
  padding: 20px 0 20px ;
}

/*parona images section start...................*/
.personas_image {
padding-top: 30px;
margin-bottom:10px; 
}
.personas_image img{
  float: left;
  border: 2px solid #BDBDBD;
  margin: 1px;
}
/*struturing section sart........................*/
.Structuring h2{
  color: #14213F;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  font-weight: 400;
}

.Structuring hr{
  height: 6px;
  width: 100px;
  background-color: #14213F;
  display: inline-block;
  border: none;
  margin: 53px 521px 52px;
  }
  .Structuring p{
  color: #041232;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  }